@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes knightMove {
  0% {
    top: 0;
  }
  100% {
    top: calc(70% - 50px); /* Adjust this value based on the knight's height */
  }
}

.animate-knight-move {
  animation: knightMove 5s ease-in-out forwards;
}

#dialogueBox {
  transition: opacity 0.3s ease-in-out;
}

#dialogueBox.hidden {
  opacity: 0;
}